<div class="blog-Post">
  <h1>Create a Blog</h1>
  <button class="Create-Post">Create Post</button>
  <form action="/api/dashBoard" method="POST">
    <input type="text" name="title" placeholder="Title" />
    <textarea name="body" placeholder="Blog post"></textarea>
    <button class="Submit-Button" type="submit">Submit</button>
  </form>
  <button class="delete display-none">Delete</button>
</div>